<div class="navbar navbar-expand-md navbar-light shadow-sm">
  <div class="container-fluid">
    <img src="assets/logo_blanco.png" alt="" width="100px" class="m-4">

    <div class="navbar-link">
      <h1>e-kanban - Críticos por ruta</h1>
    </div>

    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
      </li>
    </ul>

    <span></span>

    <div class="navbar-link">
      <button class="btn btn-primary">
        Volver al portal
      </button>
    </div>

  </div>
</div>

<div class="main-content">
  <router-outlet></router-outlet>
</div>
